* {
    font-family: Fragment Mono, monospace;
}

.desk {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('https://raiz1.noho.st/gotthard/.personal/kevadesu/assets/kevadesu-wallpaper.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    text-align: center;
    overflow: hidden;
}

.window {
    background-color: rgba(255, 255, 255, 0.849);
    margin: auto;
    padding: 1rem;
    text-align: left;
    position: center;
    backdrop-filter: blur(8px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    width: 100;
    max-width: 1150px;
}

.window:hover {
    background-color: rgba(255, 255, 255, 0.849);
}

button {
    background-color: black;
    color: white;
    padding: 5px;
    margin: 5px;
    margin-right: 1px;
    border: none;
}

button:hover {
    background-color: lightslategrey;
    color: white;
    text-decoration: underline dotted;
    cursor: pointer;
}

code {
    background-color: black;
    color: white;
    padding: 1%;
    margin-top: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: solid darkslategrey 3px;
    overflow-x: auto;
    line-height: 1.5;
    white-space: pre;
}

code:hover {
    background-color: rgba(50, 50, 50, 0.9); /* Slightly lighter on hover */
    border-color: lightslategrey; /* Highlight the border */
}

.codeblock {
    background-color: black;
    color: white;
    padding: 1%;
    margin-top: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: solid darkslategrey 3px;
    overflow-x: auto;
    line-height: 1.5;
    white-space: pre;
}

.codeblock:hover {
    background-color: rgba(50, 50, 50, 0.9); /* Slightly lighter on hover */
    border-color: lightslategrey; /* Highlight the border */
}
